.about {
    margin: 30px 70px;
}

.about_collapse {
    display: flex;
    flex-direction: column;
    margin: 33px;
}

.about_collapse > div {
    display: flex;
    width: 100%;
    margin-bottom: 33px;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .about {
        margin: 30px 20px;
    }

    .about_collapse {
        margin: 19px 0px 19px 0px;
    }

    .about_collapse > div {
        margin-bottom: 19px;
    }
}