.collapse_container {
    width: 582px;
    border: 1px solid green;
}

.collapse_content {
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    border: 1px solid green;
}

.collapse_title {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.collapse_arrow {
    cursor: pointer;
}

.collapse_texte {
    font-size: 18px;
    font-weight: 400;
    color: #FF6060;
    max-height: 200px;
    background-color: #F6F6F6;
    padding: 40px 12px 53px 20px;
    animation: moveDown 0.5s ease-in-out;
}

.collapse_arrow_rot {
    cursor: pointer;
    rotate: 180deg;
}
