.collapse_container {
    width: 582px;
}

.collapse_content {
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    height: 52px;
}

.collapse_title {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.collapse_arrow {
    cursor: pointer;
    width: 26px;
}

.collapse_texte {
    font-size: 18px;
    font-weight: 400;
    color: #FF6060;
    max-height: 200px;
    background-color: #F6F6F6;
    padding: 40px 12px 53px 20px;
}

.collapse_arrow_rot {
    cursor: pointer;
    rotate: 180deg;
    width: 26px;
}

@media screen and (max-width: 480px) {
    .collapse_content {
        border-radius: 5px;
        height: 30px;
        align-items: center;
    }

    .collapse_title {
        font-size: 13px;
    }

    .collapse_texte {
        font-size: 12px;
        padding: 23px 7px 5px 12px;
    }

    .collapse_arrow {
        width: 16px;
    }

    .collapse_arrow_rot {
        width: 16px;
    }
}