.lodging_container {
    margin: 30px 70px;
}

.logding_collapse {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    max-width: 100%;
}

.list_equipments {
    list-style: none;
}

.collapse_description {
    display: flex;
    width: 50%;
}

.collapse_equipments {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

@media screen and (max-width: 980px) {
    .lodging_container {
        margin: 30px 20px;
    }

    .logding_collapse {
        flex-direction: column;
        justify-content: none;
        margin: 0px;
    }

    .collapse_description {
        width: 100%;
        margin-bottom: 20px;
    }

    .collapse_equipments {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .lodging_container {
        margin: 20px 20px;
    }

    .logding_collapse {
        flex-direction: column;
        margin: 0px;
    }

    .collapse_description {
        width: 100%;
        margin-bottom: 20px;
    }

    .collapse_equipments {
        width: 100%;
    }
}